.security-policies-alert {
  top: $calc-application-header-height;
  @include gl-z-index-1;
}

.security-policies-pre-min-width {
  min-width: 285px;
}

.security-policies-popover-max-width {
  min-width: 420px;
}

.security-policies-popover-content-height {
  height: 12rem;
}

.security-policies-textarea-min-height {
  min-height: 200px;
}

.security-policies-bg-gray-10 {
  @include gl-bg-gray-10;

  .gl-dark & {
    @include gl-bg-white;
  }
}
